@model ProjectX.Models.Project.ProjectRegisterModel
@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="span8" style="padding: 0 10px;">
        <h2>
            Create</h2>
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.GitHubName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.GitHubName)
                @Html.ValidationMessageFor(model => model.GitHubName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Description, new { @class = "big" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
            <p>
                <input type="submit" value="Create" class="btn btn-success" />
            </p>
        </fieldset>
    </div>
    <div class="span4">
        <fieldset>
            <legend style="margin-bottom:10px;">  <p style="padding-left:10px; margin:0px 0px 0px;">+ Helpers</p></legend>
            <ul style="list-style-type:none;">
            <div>
                <a href="#" data-id="dev"><li><i class="icon-pencil"></i> Add spot for developer</li></a>
            </div>
            <div>
                <a href="#" data-id="des"><li><i class="icon-picture"></i> Add spot for designer</li></a>
            </div>
            <div>
                <a href="#" data-id="tester"><li><i class="icon-eye-open"></i> Add spot for tester</li></a>
            </div>
            </ul>

            <fieldset>
            <legend></legend>
            <ul id="added">
            
            
            </ul>
            </fieldset>
        </fieldset>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $("a").click(function () {
                if (($(this).attr("data-id")) == "dev") {
                    $("#added").add("li").addclass("icon-pencil");
                }
                else if (($(this).attr("data-id")) == "des") {
                    console.log("paint IT");
                }
                else {
                    console.log("Try IT");
                };
            });
        });
 </script>

@*    $("p").add("div").addClass("widget");
var pdiv = $("p").add("div");*@

}
