@model ProjectX.Model.Entities.Project
@{
    ViewBag.Title = "View";
}
<div class="span8 left">
    <p class="follow" data-bind="click: toggleFollow, css: {'checked' : following()}"></p>
    <h2 style="display: inline-block;">@Model.Name</h2>
    
    <p ><span class="label label-info" style="padding:5px;">@Model.Platform.Name</span><span class="label label-info" style="padding:5px; margin-left:5px;">@Model.Language.Name</span></p>
    
    <!-- start slipsum code -->
    <p>@Html.Raw(Model.Description.Replace("\n", "<br />"))</p>
    <!-- please do not remove this line -->
    <div style="display: none;">
        <a href="http://slipsum.com">lorem ipsum</a>
    </div>
    <div class="row-fluid">
        <ul class="thumbnails">
            @foreach (var image in Model.Images)
            {
                <li class="span3"><a href="@image.Name" rel="gallery" class="fancybox thumbnail">
                    <img src="@image.Name" alt="">
                </a></li>
            }
        </ul>
    </div>
</div>
<div class="span4 right">
    <div class="row-fluid">
        <img src="http://placehold.it/281x250" class="img-polaroid">
    </div>
    <div>
        @if (!string.IsNullOrEmpty(User.Identity.Name) && Model.User.Id == int.Parse(User.Identity.Name))
        {
            @Html.ActionLink("Manage project", "Details", new { id = User.Identity.Name }, new { @class = "btn btn-inverse btn-block", @style = "margin-top:5px;" });
        }
    </div>
    <div class="row-fluid box">
        <ul class="unstyled">
            <li>by: @Html.ActionLink(@Model.User.DisplayName, "details", "user", new { id = Model.User.Id, userName = ProjectX.Helpers.HelperService.GenerateSlug(Model.User.UserName) }, new { })</li>
            <li>added: @Model.Created</li>
        </ul>
    </div>
    <div class="row-fluid box github" id="github">
        <h4>On github</h4>
        <div style="text-align: center;">
            <img src="/content/images/octocat-spinner-64.gif" data-bind="visible: commits().length < 1" />
        </div>
        <ul class="" data-bind="foreach: commits">
            <li data-bind="text: message, visible: $index() < 3"></li>
        </ul>
        <p style="text-align: right;" data-bind="visible: commits().length > 3, text: commits().length - 3 + ' more'">
        </p>
    </div>
    <div class="row-fluid box">
        <h4>Collaborators</h4>
        <ul class="unstyled" style="margin-left: 10px;">
            <li><i class="icon-star" style="margin-right:5px;"></i>@Html.ActionLink(@Model.User.DisplayName, "details", "user", new { id = Model.User.Id, userName = ProjectX.Helpers.HelperService.GenerateSlug(Model.User.UserName) }, new { })</li>

            @foreach (var collaborator in Model.Collaborators.ToList().OrderBy(x => x.Role.Name))
            {
                if (collaborator.Role.Name == "Developer")
                {
                 <li><i class="icon-pencil" style="margin-right:5px;"></i>@Html.ActionLink(collaborator.User.DisplayName, "details", "user", new { id = collaborator.User.Id, userName = ProjectX.Helpers.HelperService.GenerateSlug(collaborator.User.UserName) }, new { })</li>   
                }
                else if (collaborator.Role.Name == "Designer")
                {
                 <li><i class="icon-picture" style="margin-right:5px;"></i>@Html.ActionLink(collaborator.User.DisplayName, "details", "user", new { id = collaborator.User.Id, userName = ProjectX.Helpers.HelperService.GenerateSlug(collaborator.User.UserName) }, new { })</li>
                }
                else
                {
                 <li><i class="icon-eye-open" style="margin-right:5px;"></i>@Html.ActionLink(collaborator.User.DisplayName, "details", "user", new { id = collaborator.User.Id, userName = ProjectX.Helpers.HelperService.GenerateSlug(collaborator.User.UserName) }, new { })</li>   
                }
                
            }
        </ul>

        @if (Model.Openings.Any())
        {

            <h4 style="margin-top: 25px;">Open spots</h4>
            <ul class="unstyled" style="margin-left: 10px;">
                @foreach (var spot in Model.Openings.OrderBy(x => x.Role.Name))
                {
                    if (spot.Role.Name == "Developer")
                    {
                      <li><i class="icon-pencil" style="margin-right:5px;"></i>@spot.Role.Name</li>  
                    }
                    else if(spot.Role.Name == "Designer")
                    {
                      <li><i class="icon-picture" style="margin-right:5px;"></i>@spot.Role.Name</li>  
                    }
                    else
                    {
                      <li><i class="icon-eye-open" style="margin-right:5px;"></i>@spot.Role.Name</li>    
                    }
                }
            </ul>
            @Html.ActionLink("Apply", "ApplyForOpening", "Application", new { id = Model.Id }, new { @class = "btn btn-inverse btn-block" });

        }
    </div>
</div>
@section scripts{
    <script src="/Scripts/gitModel.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".fancybox").fancybox({
                openEffect: 'none',
                closeEffect: 'none',
            });

            var config = {
                user: 'ja1984',
                repository: '@Model.GitHubName',
                following: $("#Follow"),
                projectId: @Model.Id
                };

            ko.applyBindings(new ProjectModel().viewModel(config), document.getElementById("content"));
        });

    </script>
}
