@model IEnumerable<ProjectX.Model.Entities.Project>
@{
    ViewBag.Title = "Index";
}
<div class="span8 left">
    <h2>
        Test</h2>
    <div class="row-fluid">
        <div class="span4">
            <img src="http://placehold.it/180x180" class="img-polaroid"></div>
        <div class="span4">
            <img src="http://placehold.it/180x180" class="img-polaroid"></div>
        <div class="span4">
            <img src="http://placehold.it/180x180" class="img-polaroid"></div>
    </div>
    <table class="table table-striped" style="margin-top: 25px;">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th style="width: 100px;">
                    Collaborators
                </th>
                <th style="width: 100px;">
                    Open spots
                </th>
            </tr>
        </thead>
        @foreach (var project in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@project.Name, "details", "project", new { id = project.Id, projectName = ProjectX.Helpers.HelperService.GenerateSlug(project.Name) }, new { })
                </td>
                <td>@project.Collaborators.Count
                </td>
                <td>@project.Openings.Count
                </td>
            </tr>
        }
    </table>
</div>
<div class="span4 right">

   <div class="alert alert-info" style="padding-right: 14px;">
           <h3>
        Got a project?</h3>
     <p class="description">
         Why don't you share it with us? <br /><br />

         </p>
       <p class="Header strong" style="margin-bottom:0px;">It's easy</p>
       <p class="description">Fill out the three fielded form</p>
       <p class="Header strong" style="margin-bottom:0px;">It's smart</p>
       <p class="description">Specify what kind of collaborators you are looking for    </p>
       <p class="Header strong" style="margin-bottom:0px;">It's fast</p>
       <p class="description" >Share your project in just 2 minutes</p>
       <br />
       <p class="description">What are you waiting for?</p>
       @Html.ActionLink("Create project", "Create", "Project", new { }, new { @class = "btn btn-info btn-block" })
  </div>  
    
    
</div>
