@model IEnumerable<ProjectX.Model.Entities.Project>
@{
    ViewBag.Title = "Index";
}
<div class="span8 left">
    <h2>
        Test</h2>
    <div class="row-fluid">
        <div class="span4">
            <img src="http://placehold.it/180x180" class="img-polaroid"></div>
        <div class="span4">
            <img src="http://placehold.it/180x180" class="img-polaroid"></div>
        <div class="span4">
            <img src="http://placehold.it/180x180" class="img-polaroid"></div>
    </div>
    <table class="table table-striped" style="margin-top: 25px;">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th style="width: 100px;">
                    Collaborators
                </th>
                <th style="width: 100px;">
                    Open spots
                </th>
            </tr>
        </thead>
        @foreach (var project in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@project.Name, "details", "project", new { id = project.Id, projectName = ProjectX.Helpers.HelperService.GenerateSlug(project.Name) }, new { })
                </td>
                <td>@project.Collaborators.Count
                </td>
                <td>@project.Openings.Count
                </td>
            </tr>
        }
    </table>
</div>
<div class="span4 right">
    <h3>
        Got an project?</h3>
    <p>
        ashdasdjkhasdhjasdasd fsdfasdfasdfasdfsdafasdfsdf
    </p>
    @Html.ActionLink("Create peojct", "Create", "Project", new { }, new { @class = "btn" })
</div>
