@model ProjectX.Models.ApplicationApplyModel
@using MoreLinq;
@{
    ViewBag.Title = "ApplyForOpening";
}
<div class="span12 all">
    <h2>Apply for @Model.Name</h2>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Application</legend>
            <div class="editor-label">
                <label for="Role">Position of</label>
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.RoleId, new SelectList(ViewBag.Openings, "Role.Id", "Role.Name"))
            </div>
            <div class="editor-label" style="margin-top: 35px;">
                @Html.LabelFor(model => Model.Message)
            </div>
            <div class="editor-field">
                <textarea class="big" name="Message"></textarea>
                @*                @Html.TextAreaFor(model => Model.Application.Message, new { @class = "big" })
                @Html.ValidationMessageFor(model => Model.Application.Message)*@
            </div>

            <input type="hidden" name="ProjectId" value="@Model.ProjectId" />

            <input type="submit" value="Send my application" class="btn" />

        </fieldset>
    }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
