@model ProjectX.Models.ApplicationViewModel
@{
    ViewBag.Title = "Details";
}
<div class="span12 all">
    <fieldset>
        <legend>@Model.Application.User.DisplayName</legend>
        <p>
            Position: @ProjectX.Helpers.HelperService.GetRole(Model.Application.Role)</p>
        <p>@Model.Application.Message</p>
    </fieldset>
    <fieldset>
        <legend>Projects I'm involved with</legend>
        <div class="row-fluid">
            <ul class="thumbnails">
                @foreach (var project in Model.Projects)
                {
                    <li class="span4" style="margin-left:10px;">
                        <div class="thumbnail">
                            <img src="http://placehold.it/300x200" alt="">
                            <div class="caption">
                                <h3>
                                    Thumbnail label</h3>
                                <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
                                    porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                <p>
                                    <a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Accept", "AcceptApplication", new { id = Model.Application.Id })
        @Html.ActionLink("Deny", "DenyApplication", new { id = Model.Application.Id })

    </p>
</div>
