@model ProjectX.Models.ApplicationViewModel
@{
    ViewBag.Title = "Details";
}
<div class="span12 all">
    <fieldset>
        <legend>@Model.Application.User.DisplayName</legend>
        <p>
            Position: @ProjectX.Helpers.HelperService.GetRole(Model.Application.Role)</p>
        <p>@Model.Application.Message</p>
    </fieldset>
    <fieldset style="margin-top: 20px;">
        <legend>Projects I'm involved with</legend>
        <div class="row-fluid">
            <ul class="thumbnails">
                @foreach (var project in Model.Projects)
                {
                    <li class="span4" style="margin-left:10px;">
                        <div class="thumbnail">
                            <img src="http://placehold.it/300x200" alt="">
                            <div class="caption">
                                <h3>
                                    @project.Name</h3>
                                <p>@project.Description</p>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </fieldset>
    
    <fieldset style="margin-top: 20px;">
        <legend>Reply</legend>
        <textarea class="big"></textarea>
        <p>
        @Html.ActionLink("Accept", "AcceptApplication", new { id = Model.Application.Id }, new { @class = "btn btn-success btn-large"})
        @Html.ActionLink(" Deny ", "DenyApplication", new { id = Model.Application.Id }, new { @class = "btn btn-danger btn-large"})

    </p>
    </fieldset>

    
</div>
