<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="/Content/jquery.fancybox.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </a><a class="brand" style="padding: 15px; margin: 0;" href="/">ProjectX</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="divider-vertical"></li>
                            <li>@Html.ActionLink("Members", "Index", "User")</li>
                            <li class="divider-vertical"></li>
                            <li>@Html.ActionLink("Project", "Index", "Project")</li>
                            <li class="divider-vertical"></li>
                        </ul>
                        <form class="navbar-search pull-left" action="">
                        <input type="text" class="search-query span2" style="margin-top: 5px;" placeholder="Search">
                        </form>
                        <ul class="nav pull-right">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @Html.Action("UserBar", "User")
                            }
                            else
                            {
                                <li class="divider-vertical"></li>
                                <li><a href="/user/login" style="padding: 15px;">Sign in</a> </li>
                            }
                        </ul>
                    </div>
                    <!-- /.nav-collapse -->
                </div>
            </div>
        </div>
        <article class="container" id="content">
            <div class="row-fluid">
                @RenderBody()
            </div>
        </article>
        <div class="push">
        </div>
    </div>
    <div class="footer">
        <div class="container">
            test
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="/Scripts/jquery.fancybox.js?v=2.1.0" type="text/javascript"></script>
    @if (!string.IsNullOrEmpty(User.Identity.Name))
    { 
        <script src="/Scripts/notificationcenter.js" type="text/javascript"></script>

        <script type="text/javascript">
            var config = {
                messageNotifications: $("#messageNotificationCounter"),
                projectNotifications: $("#projectNotificationCounter"),
                totalNotifications: $("#totalNotificationCounter")
            };
            var model = new loggedInModel().viewModel(config);
            $(function () {
                ko.applyBindings(model, document.getElementById("notificationCenter"));
            });
        </script>
    }
    @RenderSection("scripts", required: false)
</body>
</html>
