@using ProjectX.Helpers
@using ProjectX.Models
@model IEnumerable<ProjectX.Model.Entities.User>
@{
    ViewBag.Title = "Index";
}

<div class="span12 all">
    <div class="row-fluid">

        @foreach (var user in Model.Take(4))
        {
            <div class="span3">
                @HelperService.LinkedImage("details", "user", user.Id.ToString(), user.UserName, user.Email, ProfileImageSize.Search)
                <p>@Html.ActionLink(@user.DisplayName, "details", "user", new { id = user.Id, userName = ProjectX.Helpers.HelperService.GenerateSlug(user.UserName) }, new { })</p>
            </div>        
        }

    </div>
    <div class="row-fluid">
        <div>
            <table class="table table-striped" style="margin-top: 25px;">
                <thead>
                    <tr>
                        <th>Name
                        </th>
                        <th style="width: 100px;">Role
                        </th>
                    </tr>
                </thead>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(@user.DisplayName, "details", "user", new { id = user.Id, userName = ProjectX.Helpers.HelperService.GenerateSlug(user.UserName) }, new { })
                        </td>
                        <td>@user.Role.Name
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
