@model ProjectX.Models.UserBarViewModel
<li class="divider-vertical"></li>
<li class="dropdown" id="notificationCenter"><a href="#" class="dropdown-toggle"
    data-toggle="dropdown">
    <img src="@Html.Raw(Model.User.Image(ProjectX.Models.ProfileImageSize.Small))" class="img-polaroid" />
    @Model.User.DisplayName <span id="totalNotificationCounter" class="badge badge-important"
        data-bind="visible: totalNotifications() > 0, text: totalNotifications()">@Model.TotalNotifications</span></a>
    <ul class="dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li class="divider"></li>
        <li class="clearfix"><a href="/application">Applications <span id="projectNotificationCounter"
            class="badge badge-important" data-bind="visible: projectNotifications() > 0, text: projectNotifications()">@Model.ApplicationNotifications</span></a></li>
        <li><a href="/user/messages">Messages <span id="messageNotificationCounter" class="badge badge-important"
            data-bind="visible: messageNotifications() > 0, text: messageNotifications()">@Model.MessagesNotifications</span></a></li>
        <li class="divider"></li>
        <li><a href="/user/logout">Sign off</a></li>
    </ul>
</li>
